
/* ADMIN CHANGE BOOKS
--------------------------------------------*/

.admin-change-books {
  width: 100%;
  padding: 8rem 0;

  &__container { max-width: 1650px; }

  &__description {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__search-bar {
    margin-left: auto;
    margin-right: auto;
  }

  &__instruction {
    text-align: center;
    padding: 3rem 0 1rem 0;
  }

  &__success {
    @include display-flex;
    color: $color-primary;
    margin-top: 3rem;
    font-size: 1.8rem;
  }

  &__hr { min-width: 164rem; }
}