
/* ADMIN NEW BOOK
--------------------------------------------*/

.admin-new-book {
  width: 100%;
  padding: 8rem 0;

  &__container {
    width: 30%;
    max-width: 1200px;
  }

  &__description {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__success {
    @include display-flex;
    color: $color-primary;
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }
}





/* MEDIA QUERIES
--------------------------------------------*/

@media only screen and (max-width: 1650px) {
  .admin-new-book {
    
    &__container { width: 45%; }
  }
}


@media only screen and (max-width: 1024px) {
  .admin-new-book {
    
    &__container { width: 55%; }
  }
}