
/* BOOKS
--------------------------------------------*/

.books {
  width: 100%;
  padding: 8rem 0;


  &__container {
    @include display-flex;
    
    &--align-top { @include display-flex($align: flex-start); }
  }


  &__column {
    @include display-flex;

    &--narrow {
      @include display-flex($direction: column);
      min-width: 28rem;
    }
    &--wide {
      @include display-flex($direction: column);
      flex: auto;
    }
  }


  hr {
    width: 100%;
    border: 1px solid $medium-grey;
    margin-top: 3rem;
  }


  &__categories-list {
    width: 100%;
    padding: 6rem 2rem 0 2rem;
  }


  &__category-item {
    @include display-flex($justify: space-between);
    height: 5.2rem;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-weight: 600;
    border-bottom: 2px dotted $medium-grey;
    cursor: pointer;
    @include transition;

    &:hover {
      color: $color-primary;
      padding: 0 0.8rem;
    }
  }
}





/* MEDIA QUERIES
--------------------------------------------*/
@media only screen and (max-width: 1750px) {
  // Keeps categories column similar proportion to book images
  .books__column--narrow { min-width: 34rem; }
}

@media only screen and (max-width: 1500px) {
  // Keeps categories column similar proportion to book images
  .books__column--narrow { min-width: 24rem; }
}



// Main structural break for small devices
@media only screen and (max-width: 1050px) {
  .books {
    &__container {
      flex-direction: column-reverse;
      &--align-top { flex-direction: column; }
    }
  
    &__column--narrow,
    &__column--wide { width: 100%; }

    &__sidebar-heading { margin-top: 3rem; } // same as hr margin-top
  }
}