
/* BOOKS
--------------------------------------------*/

.books {
  width: 100%;
  padding: 8rem 0;


  &__container {
    @include display-flex;
    
    &--align-top { @include display-flex($align: flex-start); }
  }


  &__column {
    @include display-flex;

    &--narrow {
      @include display-flex($direction: column);
      min-width: 28rem;
    }
    &--wide {
      @include display-flex($direction: column);
      flex: auto;
    }
  }


  hr {
    width: 100%;
    border: 1px solid $medium-grey;
    margin-top: 3rem;
  }


  &__categories-list {
    width: 100%;
    padding-top: 6rem;
  }


  &__category-item {
    @include display-flex($justify: space-between);
    height: 5.2rem;
    width: 100%;
    padding: 0 1rem;
    font-weight: 600;
    border-bottom: 2px dotted $medium-grey;
    cursor: pointer;

    &:hover { color: $color-primary; }
  }
}





/* MEDIA QUERIES
--------------------------------------------*/
@media only screen and (max-width: 1750px) {
  .books__column--narrow { min-width: 34rem; }
}

@media only screen and (max-width: 1500px) {
  .books__column--narrow { min-width: 24rem; }
}

@media only screen and (max-width: 1200px) {
  .books__column--narrow { min-width: 20rem; }
}