
/* BOOK DETAILS
--------------------------------------------*/

.book-details {
  width: 100%;
  padding: 8rem 0;


  &__container { @include display-flex($justify: flex-start, $align: flex-start); }


  &__column {
    &--narrow {
      @include display-flex($direction: column, $justify: flex-start);
      min-width: 30rem;
    }
    &--wide {
      @include display-flex($direction: column, $justify: flex-start, $align: flex-start);
      flex: auto;
      padding: 0 4rem;
    }
  }


  &__img { width: 100%; }


  &__author {
    margin: 0.6rem 0 1.2rem 0;
    opacity: 0.6;
  }

  &__price { color: $color-primary; }


  &__dividing-line {
    width: 100%;
    border: 1px solid $medium-grey;
    margin: 3rem 0;
  }


  &__additional-info {
    margin-top: 3rem;
    font-style: italic;
  }


  &__button { margin: 4rem 1rem 0 0; }


  &__categories-list {
    width: 100%;
    max-height: 42rem;
    overflow-y: scroll;
  }


  &__category-item {
    @include display-flex($justify: space-between);
    height: 5.2rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    font-weight: 600;
    border-bottom: 2px dotted $medium-grey;
    cursor: pointer;
    @include transition;

    &:hover {
      color: $color-primary;
      padding: 0 0.8rem;
    }
  }


  &__instructions {
    width: 76%;
    margin-top: 8rem;

    & > h5 { margin-bottom: 1rem; }
  }
}