
/* CHECKOUT
--------------------------------------------*/

.checkout {
  width: 100%;
  padding: 8rem 0;


  &__container { @include display-flex($justify: space-between, $align: flex-start); }


  &__alert {
    background-color: $color-alert;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 8rem;
    border-radius: $border-radius-default;
  }


  &__column-form { width: 46%; }

  &__column-details {
    @include display-flex($direction: column);
    width: 50%;
    padding: 4rem 6rem;
    background-color: $light-grey;
    border-radius: $border-radius-default;
  }


  &__dividing-line {
    width: 100%;
    border: 1px solid $medium-grey;
    margin: 2rem 0 4rem 0;
  }


  &__order-item {
    @include display-flex($justify: space-between);
    width: 100%;
    padding: 1.4rem 0;
  }

  &__order-total {
    @include display-flex($justify: space-between);
    width: 90%;
  }
}





/* MEDIA QUERIES
--------------------------------------------*/
@media only screen and (max-width: 1000px) {
  .checkout {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__column-form,
    &__column-details { width: 70%; }
  }
}

@media only screen and (max-width: 800px) {
  .checkout {
    &__column-form,
    &__column-details { width: 85%; }
  }
}

@media only screen and (max-width: 600px) {
  .checkout {
    &__column-form,
    &__column-details { width: 100%; }
  }
}

@media only screen and (max-width: 500px) {
  .checkout__column-details { padding: 4rem; }
}