
/* NAVIGATION
--------------------------------------------*/

// MAIN NAV
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8rem;
  background-color: transparent;
  z-index: 1000;


  &__container {
    @include display-flex($justify: space-between);
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }


  &__logo {
    height: 3.8rem;
    cursor: pointer;
    outline: none;
  }


  &__list {
    position: absolute;
    top: 0;
    left: 40rem;
    line-height: 8rem; // 8rem = navbar height
    list-style: none;
    z-index: 1000;
    @include display-flex;
  }


  &__item {
    height: 100%;
    @include display-flex;
  }


  &__link {
    height: 100%;
    margin-left: 5rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    @include display-flex;
    @include transition;

    &:hover,
    &.active { color: $color-primary; }
  }


  &__icons {
    height: 8rem;
    list-style: none;
    @include display-flex;
  }


  &__icon {
    margin-left: 5rem;
    font-size: 2rem;
    outline: none;
    @include transition;

    &:hover,
    &.active { color: $color-primary; }
  }





  // MOBILE ONLY
  &__burger {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    font-size: 2.6rem;

    // 8rem navbar height - 2.6rem font-size = 5.4rem. Divide by 2 = 2.7rem padding.
    padding: 2.7rem;
    margin: 0;
    outline: none;
    @include transition;

    &:active,
    &.active {
      color: $color-primary;
      background-color: $white;
    }
  }





  // DROPDOWN MENU
  &__dropdown {
    display: none; // Changed with dropdownMenu.js
    opacity: 0; // Changed with dropdownMenu.js
    position: absolute;
    top: 8rem; // 8rem = navbar height
    right: 3%;
    background-color: $white;
    padding: 2rem;
    list-style: none;
    border-radius: $border-radius-default;
    @include box-shadow;
    @include transition;

    &-link {
      display: block;
      width: 15rem;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      text-decoration: none;
      @include transition;

      &:hover { color: $color-primary; }
      
      // Below code adjusts dropdown menu content styles, such as strong text, warning red hover color, and disabled links
      &.username,
      .username:hover {
        color: $black;
        cursor: default;
      }

      &.disabled,
      .disabled:hover {
        color: $medium-grey;
        cursor: default;
      }

      &.warning:hover { color: $color-warning; }
    }

    & hr {
      border: 1px solid $medium-grey;
      margin: 0.5rem 1rem;
    }
  }
}





/* MEDIA QUERIES
--------------------------------------------*/
@media only screen and (max-width: 1680px) {
  .nav__list { left: 30rem; }
}

@media only screen and (max-width: 1280px) {
  .nav__list { left: 22rem; }
}

@media only screen and (max-width: 1023px) {
  .nav {
  
  
    &__burger { display: block; }
  
  
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 8rem;
      line-height: 0;
      opacity: 0; // Changed with burgerMenu.js
      width: 100vw;
      max-width: 100vw;
      padding: 2rem 0;
      background-color: $light-grey;
      transition: 500ms ease;
      @include display-flex($direction: column, $justify: space-around);
    }
  
  
    &__item {
      width: 100%;
      padding: 0 2rem;
    }
  
  
    &__link {
      margin-left: 0;
      width: 100%;

      &:hover {
        color: $color-primary;
      }

      &:active {
        background-color: $medium-grey;
        color: $color-primary;
      }
    }


    &__icons {
      position: absolute;
      top: 0;
      right: 8rem;
    }
  
  
    &__icon { margin-left: 0; }

    &__dropdown { right: -26%; }
  }
}