
/* NAVIGATION
--------------------------------------------*/

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8rem;
  background-color: transparent;
  z-index: 1000;


  &__container {
    @include display-flex($justify: space-between);
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }


  &__burger {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: none;

    // 3.8rem = same height as button components
    font-size: 3.8rem;
    // 8rem navbar height - 3.8rem font-size = 4.2rem. Divide by 2 = 2.1rem top and bottom padding.
    padding: 2.1rem 2rem;
    margin: 0;

    &:active,
    &.active {
      color: $color-primary;
      background-color: $white;
    }
  }


  &__logo {
    // 3.8rem = same height as button components
    height: 3.8rem;
    margin-right: 20rem;
    cursor: pointer;
  }


  &__list {
    height: 3.8rem;
    list-style: none;
    @include display-flex;
  }


  &__item {
    height: 100%;
    @include display-flex;
  }


  &__link {
    height: 100%;
    margin-left: 5rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    @include display-flex;
    @include transition;

    &:hover,
    &.active { color: $color-primary; }
  }


  // Inline styles used for "Login / Register" nav link: see HTML -> body -> Main Content -> Navigation -> Login, cart and account


  &__icon {
    margin-left: 3rem;
    font-size: 2rem;
    @include transition;

    &:hover,
    &.active { color: $color-primary; }
  }


  &__button {
    margin-left: 5rem;

    // '!important' overrides the default button padding used for the rest of the website
    padding: 0 1.2rem !important;
  }
}





/* MEDIA QUERIES
--------------------------------------------*/

@media only screen and (max-width: 1023px) {
  .nav {
  
    &__container {
      display: block;
      position: relative;
    }
  
  
    &__burger { display: block; }
  
  
    &__logo {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      // 8rem = same height as navbar
      height: 8rem;

      // 8 current height - 3.8 original height = 4.2. Divide by 2 gives 2.1rem padding top and bottom.
      padding: 2.1rem;
      text-align: center;
    }
  
  
    &__list {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 8rem;
      height: 0; // Changed with JS - toggleMenu.js
      opacity: 0; // Changed with JS - toggleMenu.js
      width: 100vw;
      max-width: 100vw;
      padding: 2rem 0;
      background-color: $light-grey;
      transition: 500ms ease;
      @include display-flex($direction: column, $justify: space-around);
    }
  
  
    &__item {
      width: 100%;
      padding: 0 2rem;
    }
  
  
    &__link {
      margin-left: 0;
      width: 100%;

      &:hover {
        color: $color-primary;
        background-color: $medium-grey;
      }
    }
  }
}