
/* PAGE BANNER
--------------------------------------------*/

.page-banner {
  @include display-flex;
  width: 100%;
  height: 38rem; // same as &__bg-overlay height
  background-image: url("../img/paper_texture.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 38rem; // same as .page-banner height
    background-color: rgba(255, 255, 255, 0.3);
  }

  &__title {
    text-transform: uppercase;
    z-index: 100;
  }
}