
/* BACK TO TOP BUTTON
--------------------------------------------*/

.back-to-top-button {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  font-size: 3rem;
  text-align: center;
  color: $white;
  background-color: $color-primary;
  border-radius: 50%;
  padding: 1.4rem;
  cursor: pointer;
  @include transition;
  @include box-shadow;

  &__arrow { width: 3.2rem; }

  &:hover,
  &:focus {
    opacity: 0.9;
    outline: 0;
  }
}