
/* BUTTONS
--------------------------------------------*/

// Core button code to be used in all button types.
// Mixin created to allow for use of '@include button' instead of '@extend .button'.
@mixin button {
  display: inline-block;
  height: 3.8rem;
  padding: 0 3rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  color: $black;
  border-radius: $border-radius-default;
  border: 2px solid $black;
  cursor: pointer;
  @include transition;
}


.button--primary {
  @include button;
  color: $white;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover,
  &:focus {
    opacity: 0.9;
    outline: 0;
  }
}


.button--positive {
  @include button;
  &:hover,
  &:focus {
    color: $color-primary;
    border-color: $color-primary;
    outline: 0;
  }
}


.button--negative {
  @include button;
  &:hover,
  &:focus {
    color: $color-warning;
    border-color: $color-warning;
    outline: 0;
  }
}


// To be added in addition to one of the other button classes
.button--large {
  font-size: 1.4rem;
  height: 5rem;
  line-height: 5rem;
  padding: 0 4rem;
}