
/* DATA TABLE
--------------------------------------------*/

/**
 * This component provides a table of data taken from a database. It is made up of many forms allowing for easy updating of content by user.
 *
 * It will fill all available horizontal space.
 * Place within a container and set preferred width on the container.
*/

.data-table {
  width: 100%;
  margin-top: 8rem;
  text-align: center;
  overflow-x: auto;


  &__form {
    margin-bottom: 0.5rem;
    @include display-flex($justify: space-between);
  }


  &__heading {
    flex: 1;
    min-width: 20rem;
    text-align: center;
    height: 3.8rem; // Same as line height
    margin: 0 1px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3.8rem; // Same as height
    background-color: transparent;
    color: $black;
    border: none;
    outline: none;
    cursor: default;

    &.narrow { min-width: 15rem; }
  }


  &__input {
    flex: 1;
    min-width: 20rem;
    text-align: center;
    height: 5rem; // Same as line height
    padding: 0 1.5rem;
    margin: 0 1px;
    font-size: 1.6rem;
    line-height: 5rem; // Same as height
    background-color: transparent;
    color: $black;
    border: none;

    &:hover,
    &:focus,
    &:active { outline: 1px solid $medium-grey; }

    &.narrow { min-width: 15rem; }
  }


  &__select {
    flex: 1;
    min-width: 20rem;
    text-align: center;
    height: 5rem; // Same as line height
    padding: 0 1.5rem;
    margin: 0 1px;
    font-size: 1.6rem;
    line-height: 5rem; // Same as height
    background-color: transparent;
    color: $black;
    border: none;
    outline: 1px solid $light-grey;

    &:hover,
    &:focus,
    &:active { outline: 1px solid $medium-grey; }

    &.narrow { min-width: 15rem; }
  }


  &__textarea {
    flex: 1;
    min-width: 20rem;
    height: 14rem;
    padding: 1rem;
    margin: 0.8rem 1px;
    line-height: 2rem;
    background-color: transparent;
    color: $black;
    border: none;
    outline: 1px solid $light-grey;

    &:hover,
    &:focus,
    &:active { outline: 1px solid $medium-grey; }
  }


  &__checkbox {
    flex: 1;
    min-width: 20rem;
    padding: 0 6rem;
    margin: 0 1px;

    &.narrow {
      min-width: 15rem;
      padding: 0 3rem;
    }
  }


  &__img {
    flex: 1;
    min-width: 20rem;
    padding: 0 6rem;

    &.narrow {
      min-width: 15rem;
      padding: 0 3rem;
    }

    &-anchor {
      font-size: 1rem;
      margin: 1.5rem 0;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }


  &__button { margin: 0 1rem; }

  &__button--hidden {
    visibility: hidden;
    margin: 0 1rem;
  }


  &__remove-icon {
    min-width: 8rem;
    background-color: $white;
    border: none;
    font-size: 2rem; // same as navigation icon font-size
    &:hover,
    &.active {
      cursor: pointer;
      color: $color-warning;
    }
  }

  
  &__hr { margin-bottom: 2rem; }
}