
/* FORMS
--------------------------------------------*/

/**
 * Forms will take up all available horizontal space.
 * Place them within a container set to whichever width is preferable.
 */

.form {
  width: 100%;


  &__label {
    display: block;
    font-weight: 600;

    & > .required {
      color: $color-warning;
      font-size: 1rem;
    }

    & > .subtle { font-weight: 400; }
  }


  &__subtle {
    font-weight: 400;
    margin: 0.5rem 0 1rem 0;
  }


  &__external-link:hover {
      color: $color-primary;
    }


  &__error {
    font-weight: 600;
    font-size: 1.2rem;
    color: $color-warning;
  }


  &__text-input {
    width: 100%;
    height: 3.8rem;
    padding: 0 1.5rem;
    margin: 0.5rem 0 2rem 0;
    font-size: 1.6rem;
    font-family: Poppins;
    line-height: 3.8rem;
    background-color: $white;
    color: $black;
    border-radius: $border-radius-default;
    border: 2px solid $medium-grey;
    outline: none;
  }


  &__text-area {
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0.5rem 0 2rem 0;
    font-size: 1.6rem;
    font-family: Poppins;
    line-height: 2.4rem;
    background-color: $white;
    color: $black;
    border-radius: $border-radius-default;
    border: 2px solid $medium-grey;
    outline: none;
  }


  &__select {
    width: 100%;
    height: 3.8rem;
    padding: 0 1.5rem;
    margin: 0.5rem 0 2rem 0;
    font-size: 1.6rem;
    font-family: Poppins;
    line-height: 3.8rem;
    background-color: $white;
    color: $black;
    border-radius: $border-radius-default;
    border: 2px solid $medium-grey;
    outline: none;
  }


  &__checkbox {
    margin: 0.5rem 0 2rem 1rem;
    cursor: pointer;

    &-description {
      display: inline;
      margin: 0.5rem 0 2rem 0;
    }
  }


  &__button { margin: 2rem 1rem 0 0; }
  &__button--mobile {
    display: none;
    width: 100%;
    margin-top: 2rem;
  }


  &__file-upload-button { display: block; margin: 1.5rem 0 2.5rem 0; }
}





/* MEDIA QUERIES
--------------------------------------------*/
@media only screen and (max-width: 600px) {
  .form {
    &__button { display: none; }
    &__button--mobile { display: block; }
  }
}