
/* BASE STYLES
--------------------------------------------*/

html { scroll-behavior: smooth; }


body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
}


a {
  color: $black;
  cursor: pointer;
}


img {
  max-width: 100%;
  max-height: 100%;
}