
/* COLOURS
--------------------------------------------*/

$color-primary: #008B8B;
$color-alert: #F3DFBF;
$color-warning: #F97068;


$white: #FFF;
$light-grey: #EEE;
$medium-grey: #DDD;
$black: #3C3C3C;





/* FONTS
--------------------------------------------*/

$font-primary: 'Poppins', sans-serif;





/* BORDERS
--------------------------------------------*/

$border-radius-default: 4px;